<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643833047421-et7e2i1b7bu5h8jplkf387vmkd2c4ja9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643833047421-et7e2i1b7bu5h8jplkf387vmkd2c4ja9</string>
	<key>API_KEY</key>
	<string>AIzaSyBWoz57PMpC-Oz9BHBwJbG7qPvZeOCa-Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>643833047421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashcardsQuiz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterriddles</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterriddles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643833047421:ios:f8cebfa58742574901c414</string>
</dict>
</plist>